<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- # Variables -->
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property name="LOG_DIR_PATH" value="../logs"/>
    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} %-5level [%thread] %logger{16} - %msg%n"/>

    <!-- # Appenders (https://logback.qos.ch/manual/appenders.html)  -->
    <!-- console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- rolling file appender -->
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR_PATH}/${springAppName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR_PATH}/%d{yyyy-MM-dd}_${springAppName}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>
            <!-- <maxHistory>14</maxHistory> -->
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- async appender -->
    <appender name="ROLLING_FILE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ROLLING_FILE"/>
    </appender>

    <!-- # Environments -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <!-- <appender-ref ref="ROLLING_FILE"/> -->
        <appender-ref ref="ROLLING_FILE_ASYNC"/>
    </root>
    <root level="INFO">
        <!-- <appender-ref ref="ROLLING_FILE"/> -->
        <appender-ref ref="ROLLING_FILE_ASYNC"/>
    </root>

    <!-- dev env -->
    <springProfile name="dev">
        <logger name="org.springframework.*" level="DEBUG"/>
    </springProfile>
    <!-- prod env -->
    <springProfile name="prod">
        <logger name="org.springframework.*" level="INFO"/>
    </springProfile>

</configuration>